**/*.log
**/.*.swp
.snakemake/**
alf_data/**
alf_data_indel/**
distances/**
distances_indel/**
genomes/**
genomes_indel/**
manuscript/*.aux
results/**
results_indel/**
scripts/*.pyc
trees/**
trees_indel/**
